<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="/marsrutai">
        <div
					class="hidden md:flex items-center space-x-3"
				>
					<img
						src="/assets/logo_long.svg"
						class="h-8"
						alt="Upemis.lt Logo"
					/>
				</div>
				<div
					class="flex md:hidden items-center space-x-3"
				>
					<img
						src="/assets/logo_small.png"
						class="h-8"
						alt="Upemis.lt Logo"
					/>
				</div>
      </a>

      <p class="font-semibold">
        Baidarių nuomos platforma.<br>Rezervuokitės plaukimą baidarėmis kaip niekada paprastai!
      </p>

      <p>Šioje platformoje galite rezervuotis plaukimą baidarėmis įvairiose Lietuvos upėse. Tereikia išsirinkti upę, maršrutą, nuomotoją, kada ir kiek žmonių plauks. Viskas iš tiesų taip paprasta!</p>

    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

{{ partial "content/social-media.html" . }}

    </div>

  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4">

    <p class="text-sm">Visos teisės saugomos © {{ now.Year }}.</p>

  </div>

</div>
