<header class="shrink-0">
		<nav
			x-data="{isHamburgerMenuOpen: false}"
			x-init="isHamburgerMenuOpen=window.innerWidth > 767"
			class="fixed w-full z-30 top-0 start-0 bg-surface border-b border-outline"
		>
			<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
				<a
					href="/marsrutai"
					class="hidden md:flex items-center space-x-3"
				>
					<img
						src="/assets/logo_long.svg"
						class="h-8"
						alt="Upemis.lt Logo"
					/>
				</a>
				<a
					href="/marsrutai"
					class="flex md:hidden items-center space-x-3"
				>
					<img
						src="/assets/logo_small.png"
						class="h-8"
						alt="Upemis.lt Logo"
					/>
				</a>
				<div
					class="flex md:order-2 space-x-5 items-center"
				>
					<!--Hamburger menu-->
					<button
						x-on:click="isHamburgerMenuOpen = !isHamburgerMenuOpen"
						type="button"
						class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-hidden focus:ring-2 focus:ring-gray-200"
						aria-controls="navbar-sticky"
						aria-expanded="false"
					>
						<span class="sr-only">Open main menu</span>
						<svg
							class="w-5 h-5"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 17 14"
						>
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
						</svg>
					</button>
					<!--Hamburger menu-->
				</div>
				<div
					x-show="isHamburgerMenuOpen"
					x-transition
					x-cloak
					class="items-center justify-between w-full md:flex md:w-auto md:order-1"
				>
					<ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 md:flex-row md:mt-0 md:border-0">
						<li>
							<a
								href="/marsrutai"
								class="block py-2 px-3 rounded-sm  md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
							>Maršrutai</a>
						</li>
						<li>
							<a
								href="/upes"
								class="block py-2 px-3 rounded-sm  md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
							>Upės</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
